@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

/* ?NAV */
nav {
  padding: 16px 52px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

nav .logo img {
  width: 52px;
}

nav .navigasi {
  width: fit-content;
  margin: auto 0;
}

nav .navigasi ul {
  display: flex;
  gap: 24px;
  font-size: 14px;
  list-style-type: none;
}

nav .navigasi ul li a {
  text-decoration: none;
  color: black;
}

/* ?HEADER */
header {
  height: 92vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

header .teks {
  width: 50%;
  padding-left: 150px;
}

header .teks h3 {
  font-size: 24px;
  font-weight: 400;
}

header .teks h1 {
  margin: 8px 0;
  font-size: 44px;
}

header .teks h1 span {
  font-weight: 400;
}

header .teks a {
  display: inline-block;
  margin-top: 52px;
  padding: 16px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background-color: #0077b5;
  transition: 0.5s;
}

header .teks a:hover {
  background-color: #005d8f;
}

header .gambar {
  width: 50%;
  padding-right: 150px;
}

header .gambar img {
  width: 500px;
  margin-left: 100px;
}

/* ?SECTION - TENTANG SAYA */
#tentangSaya {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

#tentangSaya .gambar {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#tentangSaya .gambar img {
  width: 200px;
  margin-right: 70px;
}

#tentangSaya .teks {
  width: 70%;
  padding: 100px 160px 100px 92px;
}

#tentangSaya h1 {
  font-size: 32px;
  text-align: center;
}

#tentangSaya p {
  margin-top: 52px;
  text-align: justify;
}

/* ?SECTION - PORTOFOLIO */
#portofolio {
  height: 100vh;
  overflow-x: hidden;
}

#portofolio h1 {
  padding: 24px;
  margin: 0 160px;
  font-size: 32px;
  text-align: center;
}

#portofolio .kontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 52px;
  margin: 52px 160px;
}

#portofolio .kontainer .kartu {
  width: 45%;
  height: 450px;
  padding: 16px;
  border-radius: 12px;
  background-color: #f7f7f7;
  transition: 0.3s;
}

#portofolio .kontainer .kartu:hover {
  background-color: #e7e7e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portofolio .kontainer .kartu img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

#portofolio .kontainer .kartu h3 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#portofolio .kontainer .kartu p {
  margin-top: 16px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  line-height: 20px;
}

#portofolio .kontainer .kartu hr {
  margin: 16px 24px;
  border: 1px solid #d7d7d7;
}

#portofolio .kontainer .kartu h5 {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
}

#portofolio .kontainer .kartu .teknologi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 50px;
  margin: 0 24px;
}

#portofolio .kontainer .kartu .teknologi img {
  width: 40px;
  height: 40px;
}

/* ?SECTION - KEMAMPUAN */
#kemampuan {
  height: 100vh;
  overflow-x: hidden;
}

#kemampuan h1 {
  padding: 24px;
  margin: 0 160px;
  font-size: 32px;
  text-align: center;
}

#kemampuan .teknologi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 30px 150px 80px 150px;
  padding: 0 180px;
}

#kemampuan .teknologi img {
  width: 80px;
  height: 80px;
  filter: brightness(0%);
  transition: 0.3s;
}

#kemampuan .teknologi img:hover {
  filter: brightness(100%);
}

#kemampuan .kontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 160px;
}

#kemampuan .kontainer .kartu {
  width: 300px;
  height: 300px;
  padding: 16px;
  border-radius: 12px;
  background-color: #f7f7f7;
  transition: ease-in-out 0.5s;
}

#kemampuan .kontainer .kartu:hover {
  background-color: #e7e7e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#kemampuan .kontainer .kartu .gambar {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
}

#kemampuan .kontainer .kartu .gambar img {
  width: 200px;
}

#kemampuan .kontainer .kartu h3 {
  margin: 24px 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#kemampuan .kontainer .kartu p {
  margin: 0 16px;
  font-size: 16px;
  text-align: justify;
}

/* ?SECTION - KONTAK */
#kontak {
  height: 100vh;
  overflow-x: hidden;
}

#kontak h1 {
  padding: 24px;
  font-size: 32px;
  text-align: center;
}

#kontak .kontainer {
  display: flex;
  margin-top: 52px;
}

#kontak .kontainer .gambar {
  width: 50%;
  height: 500px;
  margin-left: 180px;
  /* background-color: lightcoral; */
}

#kontak .kontainer .gambar img {
  width: 500px;
  float: right;
  margin-right: 44px;
  /* margin-left: 150px; */
}

#kontak .kontainer .teks {
  width: 50%;
  height: 500px;
  margin-right: 160px;
  /* background-color: lightblue; */
}

#kontak .kontainer .teks h1 {
  margin-top: 120px;
  font-size: 18px;
  font-weight: 400;
}

#kontak .kontainer .teks h1 span {
  font-weight: 700;
}

#kontak .kontainer .teks .sosialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 28px;
}

#kontak .kontainer .teks .sosialMedia img {
  width: 44px;
  border-radius: 12px;
  filter: brightness(0%);
  transition: 0.3s;
}

#kontak .kontainer .teks .sosialMedia a:hover img {
  filter: brightness(100%);
}

#kontak .kontainer .teks .hubungiSaya {
  text-align: center;
}

#kontak .kontainer .teks .hubungiSaya a {
  display: inline-block;
  margin: 28px;
  padding: 16px 44px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: #0077b5;
  transition: 0.5s;
}

#kontak .kontainer .teks .hubungiSaya a:hover {
  background-color: #005d8f;
}

/* ?FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(35, 35, 35);
  overflow-x: hidden;
}

footer h5 {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

/* *SMARTPHONE */
@media only screen and (max-width: 767px) {
  /* ?NAV */
  nav {
    padding: 16px 16px;
  }

  nav .navigasi {
    display: none;
  }

  /* ?HEADER */
  header {
    height: 92vh;
    flex-direction: column;
  }

  header .teks {
    width: 90vw;
    margin-top: 64px;
    padding-top: 52px;
    padding-left: 0px;
  }

  header .teks h3 {
    font-size: 16px;
  }

  header .teks h1 {
    font-size: 24px;
  }

  header .teks a {
    display: none;
  }

  header .gambar {
    width: 90vw;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }

  header .gambar img {
    width: 300px;
    margin-left: 0px;
  }

  /* ?SECTION - TENTANG SAYA */
  #tentangSaya .gambar {
    display: none;
  }

  #tentangSaya .teks {
    width: 100vw;
    padding: 72px 18px 0px 18px;
  }

  #tentangSaya p {
    margin-top: 32px;
  }

  /* ?SECTION - PORTOFOLIO */
  #portofolio {
    height: fit-content;
  }

  #portofolio h1 {
    margin: 0 18px;
  }

  #portofolio .kontainer {
    margin: 32px 18px;
  }

  #portofolio .kontainer .kartu {
    width: 100%;
    height: fit-content;
    padding: 16px 8px;
  }

  #portofolio .kontainer .kartu img {
    height: 80px;
  }

  #portofolio .kontainer .kartu h3 {
    margin-top: 8px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
  }

  #portofolio .kontainer .kartu p {
    margin-top: 8px;
    padding: 0 8px;
    font-size: 12px;
  }

  #portofolio .kontainer .kartu hr {
    margin: 8px 8px;
  }

  #portofolio .kontainer .kartu h5 {
    margin: 0 8px;
    font-size: 12px;
  }

  #portofolio .kontainer .kartu .teknologi {
    gap: 12px;
    height: 30px;
    margin: 8px;
  }

  #portofolio .kontainer .kartu .teknologi img {
    width: 30px;
    height: 30px;
  }

  /* ?SECTION - KEMAMPUAN */
  #kemampuan {
    height: fit-content;
    padding-bottom: 32px;
  }

  #kemampuan h1 {
    margin: 0 18px;
  }

  #kemampuan .teknologi {
    height: 150px;
    margin: 8px 18px 52px 18px;
    padding: 0 16px;
    gap: 16px;
  }

  #kemampuan .teknologi img {
    width: 56px;
    height: 56px;
  }

  #kemampuan .kontainer {
    row-gap: 16px;
    margin: 0 18px;
  }

  #kemampuan .kontainer .kartu {
    width: 100vw;
    height: max-content;
  }

  #kemampuan .kontainer .kartu .gambar {
    width: 100%;
    height: 100px;
  }

  #kemampuan .kontainer .kartu .gambar img {
    width: 150px;
  }

  #kemampuan .kontainer .kartu h3 {
    margin: 8px 0;
    font-size: 16px;
  }

  #kemampuan .kontainer .kartu p {
    margin: 0 8px;
    font-size: 12px;
  }

  /* ?SECTION - KONTAK */
  #kontak .kontainer {
    margin-top: 32px;
  }

  #kontak .kontainer .gambar {
    display: none;
  }

  #kontak .kontainer .teks {
    width: 100%;
    margin-right: 0px;
  }

  #kontak .kontainer .teks h1 {
    margin-top: 8px;
    font-size: 16px;
  }

  #kontak .kontainer .teks .sosialMedia {
    padding: 0 18px;
  }

  #kontak .kontainer .teks .sosialMedia img {
    width: 32px;
    border-radius: 8px;
  }

  #kontak .kontainer .teks .hubungiSaya a {
    margin: 18px;
    padding: 16px 24px;
  }

  /* ?FOOTER */
  footer h5 {
    font-size: 8px;
  }
}

/* *TABLET - PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* ?NAV */
  nav {
    padding: 16px 32px;
  }

  /* ?HEADER */

  header .teks {
    margin-left: 32px;
    padding-left: 0px;
  }

  header .teks h3 {
    font-size: 18px;
  }

  header .teks h1 {
    font-size: 24px;
  }

  header .gambar {
    margin-right: 32px;
    padding-right: 0px;
  }

  header .gambar img {
    width: 380px;
    margin-left: 0px;
  }

  /* ?SECTION - TENTANG SAYA */
  #tentangSaya .gambar img {
    margin-right: 0px;
    margin-left: 32px;
  }

  #tentangSaya .teks {
    padding: 180px 32px 100px 32px;
  }

  /* ?SECTION - PORTOFOLIO */
  #portofolio .kontainer {
    gap: 24px;
    margin: 52px 32px;
  }

  #portofolio .kontainer .kartu {
    width: 43%;
    height: 480px;
    padding: 16px;
  }

  #portofolio .kontainer .kartu img {
    height: 200px;
  }

  #portofolio .kontainer .kartu p {
    padding: 0 16px;
  }

  #portofolio .kontainer .kartu hr {
    margin: 16px 16px;
  }

  #portofolio .kontainer .kartu h5 {
    margin: 0 16px;
  }

  #portofolio .kontainer .kartu .teknologi {
    margin: 16px;
  }

  /* ?SECTION - KEMAMPUAN */
  #kemampuan .teknologi {
    margin: 32px 32px 100px 32px;
    padding: 0 32px;
  }

  #kemampuan .teknologi img {
    width: 60px;
    height: 60px;
  }

  #kemampuan .kontainer {
    margin: 0 32px;
  }

  #kemampuan .kontainer .kartu {
    width: 220px;
    padding: 8px;
  }

  #kemampuan .kontainer .kartu .gambar {
    width: 220px;
  }

  #kemampuan .kontainer .kartu h3 {
    margin: 16px 0;
  }

  #kemampuan .kontainer .kartu p {
    margin: 0 8px;
  }

  /* ?SECTION - KONTAK */
  #kontak .kontainer .gambar {
    margin-left: 32px;
  }

  #kontak .kontainer .gambar img {
    width: 380px;
    float: none;
    margin-top: 60px;
    margin-right: 0px;
  }

  #kontak .kontainer .teks {
    margin-right: 32px;
  }

  #kontak .kontainer .teks .sosialMedia {
    padding: 0 16px;
  }

  #kontak .kontainer .teks .sosialMedia img {
    width: 36px;
    border-radius: 8px;
  }

  #kontak .kontainer .teks .hubungiSaya a {
    margin: 16px;
  }
}

/* *TABLET - LANDSCAPE */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  body {
    overflow-x: visible;
  }

  /* ?HEADER */
  header .teks {
    padding-left: 52px;
  }

  header .teks h1 {
    font-size: 36px;
  }

  header .teks a {
    margin-top: 32px;
  }

  header .gambar {
    padding-right: 52px;
  }

  header .gambar img {
    margin-left: 80px;
  }

  /* ?SECTION - TENTANG SAYA */
  #tentangSaya .gambar img {
    margin-right: 0px;
    margin-left: 52px;
  }

  #tentangSaya .teks {
    width: 70%;
    padding: 100px 52px 100px 52px;
  }

  /* ?SECTION - PORTOFOLIO */
  #portofolio .kontainer {
    margin: 52px;
  }

  #portofolio .kontainer .kartu h3 {
    margin-top: 8px;
  }

  #portofolio .kontainer .kartu p {
    padding: 0 16px;
  }

  #portofolio .kontainer .kartu hr {
    margin: 16px;
  }

  #portofolio .kontainer .kartu h5 {
    margin: 0 16px;
  }

  #portofolio .kontainer .kartu .teknologi {
    margin: 8px;
  }

  #portofolio .kontainer .kartu .teknologi img {
    width: 40px;
    height: 40px;
  }

  /* ?SECTION - KEMAMPUAN */
  #kemampuan .teknologi {
    margin: 30px 52px 80px 52px;
    padding: 0 80px;
  }

  #kemampuan .teknologi img {
    width: 70px;
    height: 70px;
  }

  #kemampuan .kontainer {
    margin: 0 52px;
  }

  #kemampuan .kontainer .kartu p {
    margin: 0 8px;
  }

  /* ?SECTION - KONTAK */
  #kontak {
    height: 100vh;
  }

  #kontak .kontainer {
    display: flex;
    margin-top: 52px;
  }

  #kontak .kontainer .gambar {
    margin-left: 52px;
  }

  #kontak .kontainer .gambar img {
    width: 500px;
    float: none;
    margin-right: 0px;
  }

  #kontak .kontainer .teks {
    margin-right: 52px;
  }

  #kontak .kontainer .teks .sosialMedia img {
    border-radius: 12px;
  }
}
